* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Gordita Regular";
}
ol,
ul {
    list-style: none;
}
del {
    text-decoration: line-through;
}
body {
    font-size: 17px;
    color: #1c2c40;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 400;
}
input,
textarea,
select {
    font-weight: 400;
}

a {
    color: #1c2c40;
}
a:hover,
.submit:hover {
    filter: alpha(opacity = 85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}
.thumb {
    display: block;
}
.thumb img {
    display: block;
    width: 100%;
}
p {
    line-height: 1.6em;
    font-size: 16px;
    font-weight: 400;
}
.hidden {
    display: none;
}
br.clear {
    clear: both;
    line-height: 0;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1440px;
}

#main {
    padding: 100px 0;
    width: 100%;
    margin: 0 auto;
    background-color: #f3f3f3;
    height: 100vh;

}
.table {
    border : 1px solid #000;
}
.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #000;
    text-align: center;
}
.head h1 {
    width: 32%;
    border-right: 1px solid #000;
    font-size: 32px;
    margin: 20px;
}
.head h1:last-child {
border: 0;
}
.items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.items h4 {
    border-right: 1px solid #000;
    width: 32%;
    font-size: 22px;
    margin: 20px;
}
.items h4:last-child {
border: 0;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px #00000026;
    width: 100%;
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


.top {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top h1 {
    font-size: 46px;
    font-weight: 600;
    color: #009879;
}
.top .button a.button {
    display: inline-block;
    color: #fff;
    background: #8787ef;
    padding: 10px 15px;
    border-radius: 10px;
    margin-right: 15px;
    font-weight: 600;
}
